{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}

{% block content %}

<script type="text/javascript" src="../static/js/raphael-min.js"></script>
<script type="text/javascript" src="../static/js/dracula_graffle.js"></script>
<script type="text/javascript" src="../static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="../static/js/dracula_graph.js"></script>
<script type="text/javascript" src="../static/js/dracula_algorithms.js"></script>
<script type="text/javascript" src="../static/js/Curry-1.0.1.js"></script>
<script type="text/javascript" src="../static/js/seedrandom.js"></script>

<h1>{{ args.title }}</h1>

<form name="input" action="/authorsDegreeOfSeparation" method="get" data-ajax="false">
Author A:
<select name="authorA">
	{% for author_name in args.author_names %}
	<option>{{ author_name }}</option>
	{% endfor %}
</select>
Author B:
<select name="authorB">
	{% for author_name in args.author_names %}
	<option>{{ author_name }}</option>
	{% endfor %}
</select>
<input type="submit" value="Submit">

</form>

<table>
  <thead>
    <tr>
    {% for column in args.columns %}
      <th>{{ column }}</th>
    {% endfor %}
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{{ args.authorA }}</td>
      <td>{{ args.authorB }}</td>
      <td>{{ args.degree_of_separation }}</td>
    </tr>
  </tbody>
</table>

Shortest Path:
<button onclick="getCoauthorsGraph()">Get coauthors graph</button>
<div align="center" id="graph_div"></div>

<script type="text/javascript">
function getCoauthorsGraph() {
	var url = "/graph/{{request.args['authorA']}}/{{request.args['authorB']}}";
	$.getJSON(url, function (graph) {
		
	
		var graph_adj_l = graph;
	    var g = new Graph();
	    g.edgeFactory.template.style.directed = true;
	    for (node in graph_adj_l) {
		    if (graph_adj_l.hasOwnProperty(node)){
		        var edges=graph_adj_l[node];
		        for (i=0; i < edges.length; i++) {
		        	var edge = edges[i];
		        	g.addEdge(node, edge);
		        }
		    }//if
	    }
	    var layouter = new Graph.Layout.Spring(g);
		layouter.layout();
 
		var renderer = new Graph.Renderer.Raphael('graph_div', g, 800, 400);
		renderer.draw();
    });
}
</script>


{% endblock %}