<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>{% block title %}{% endblock %}</title>
<meta charset="iso-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{ url_for('static', filename='layout/styles/main.css') }}" rel="stylesheet" type="text/css" media="all">
<link href="{{ url_for('static', filename='layout/styles/mediaqueries.css') }}" rel="stylesheet" type="text/css" media="all"> 
</head>
<body class="">
<div class="wrapper row1">
  <header id="header" class="full_width clear">
    <hgroup>
      <h1><a href="/">The University of Manchester Academic Publications Dataset</a></h1>
      <h2 style="font-style:italic">Bringing unique insights to the contributions within the academia community</h2>
    </hgroup>
  </header>
</div>
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <nav id="topnav">
    <ul class="clear">
      <li class="active"><a href="/" title="Homepage">Homepage</a></li>
      
      <li><a class="drop" href="/statisticsdetails/publication_summary">Publications</a>
        <ul>
			<li><a href="/statisticsdetails/publication_summary" title="Publication Summary">Publication Summary</a></li>
			<li><a href="/statisticsdetails/publication_author" title="Number of publications per author">Number of publications <br />per author</a></li>
			<li><a href="/statisticsdetails/publication_year">Number of publications <br />per year</a></li>
			<li class="last-child"><a href="/publications/year">View all publications</a></li>	<!-- "View all publications" is used to be one of the last items !-->
        </ul>
      </li>
      <li><a class="drop" href="/authors/search" title="Authors">Authors</a>
        <ul>
			<li><a href="/statisticsdetails/author_year">Number of authors per year</a></li>
			<li><a href="/statisticsdetails/author_first_last_sole">Ordering of ALL authors</a></li>
			<li><a href="/firstLastSoleType">Ordering of ALL authors <br />by publication type</a></li>
			<li><a href="/authors/search">Search author</a></li>	<!-- "Search author" is used to be one of the last items !-->
			<li><a class="last-child" href="/author">Number of times author <br />appeared first or last</a></li>	<!-- "First of last author" is used to be one of the last items !-->
        </ul>
      </li>
		<li><a href="/averages">Mathematical statistics</a></li>
		<li class="last-child"><a href="/coauthors">Co-Authors</a></li>
    </ul>
  </nav>
</div>
<!-- content -->
<div class="wrapper row3">
  <div id="container">
  {% block breadcrumb %}{% endblock %}
    <!-- ################################################################################################ -->
    <div id="homepage" class="clear">
      {% block default_list %}{% endblock %}
      <p>You are now using dataset : {{ args.dataset }}</p>
      {% block content %}{% endblock %} 

    </div>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </div>
</div>
<!-- Footer -->

<div class="wrapper row4">
  <div id="copyright" class="clear">
    <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - Vasilis Nicolaou, Georgios Chairepetis, Lok Shun Justin Chan. 
    	<br><br><em> Designed for the COMP61542 software engineering course taught at the School of Computer Science, University of Manchester. </em></p>
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </div>
</div>
<!-- Scripts -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='layout/scripts/jquery-latest.min.js') }}"><\/script>
<script src="{{ url_for('static', filename='layout/scripts/jquery-ui.min.js') }}"><\/script>')</script>
<script>jQuery(document).ready(function($){ $('img').removeAttr('width height'); });</script>
<script src="{{ url_for('static', filename='layout/scripts/jquery-mobilemenu.min.js') }}"></script>
<script src="{{ url_for('static', filename='layout/scripts/custom.js') }}"></script>
</body>
</html>