{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}

<h1>{{ args.title }}</h1>

<table>
  <thead>
    <tr>
    {% set counter = 0 %}
    {% for column in args.data[0] %}
      
      <th><a href="/stats/{{ counter }}">{{ column }}</a></th>
    {% set counter = counter+1 %}
    {% endfor %}
    </tr>
  </thead>

  <tbody>
  {% for row in args.data[1] %}
    <tr>
    {% set counter = 0 %}
    {% for data_item in row %}
    {% if counter == 0 %}
      <td><a href="/profile/{{ data_item }}">{{ data_item }}</a></td>
    {% set counter = counter+1 %}
    {% else %}
      <td>{{ data_item }}</td>
    {% set counter = counter+1 %}
    {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
