{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}

{% block content %}
<script type="text/javascript">
	var graph_data=[];
	var headers = [];
	{% for column in args.data[0] %}
  		{% if column != "Total" %}
  			headers.push( "{{ column }}" );
		{% endif %}
	{% endfor %}
	var titles = [];
	{% for row in args.data[1] %}
		entry = [];
		{% for data_item in row %}
    		{% if args.data[0][loop.index0] != "Total" %}
				{% if loop.index0 != 0 %}
					entry.push({{ data_item }});
				{% else %}
					entry.push("{{ data_item }}");
				{% endif %}
			{% endif %}
    	{% endfor %}
    	graph_data.push(entry);
    	
  	{% endfor %}

</script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      
      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

		var bar_data = [headers];
        for (gd in graph_data) {
        	bar_data.push(graph_data[gd]);
        }
        var data = google.visualization.arrayToDataTable(bar_data);

        // Set chart options
        var options = {
        	width: "100%",
        	height: graph_data.length*21 + 100,
        	legend: { position: 'top', maxLines: 3 },
			bar: { groupWidth: '70%' },
        	isStacked: true,
        	fontSize: 10,
        	chartArea: {'height': graph_data.length*15 + 25}
      	};
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
</script>

<h1>{{ args.title }}</h1>

<table>
  <thead>
    <tr>
    {% set authorExists = "Author" in args.data[0] or "Author Name" in args.data[0] %}
    
    {% set counter = 0 %}
    {% for column in args.data[0] %}
    
    
      <th><a href="/stats/{{ counter }}">{{ column }}</a></th>
    {% set counter = counter+1 %}
    {% endfor %}
    </tr>
  </thead>

  <tbody>
  {% for row in args.data[1] %}
    <tr>
    {% set counter = 0 %}
    {% for data_item in row %}
    {% if counter == 0 and authorExists %}
      <td><a href="/profile/{{ data_item }}">{{ data_item }}</a></td>
    {% set counter = counter+1 %}
    {% else %}
      <td>{{ data_item }}</td>
    {% set counter = counter+1 %}
    {% endif %}
    {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
<button onclick="drawChart()">Get chart</button>

<div id="chart_div"></div>
{% endblock %}
